include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		header#main.section_scroll
			include ../common/nav
			include ../common/header
		include ../common/about
		include ../common/directions
		include ../common/contactspart
		
		include ../common/footer
	// END body