include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		header
			include ../common/nav
		include ../common/services_part
		
		include ../common/footer
	// END body