include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		header#main
			include ../common/nav
		include ../common/team_part
		
		include ../common/footer
	// END body