.directions {
    overflow: hidden;
    position: relative;
    top: -160px;
    padding-top: 160px;
    // margin-bottom: 40px;
    margin-bottom: -120px;
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        width: 50%;
    }
    .mark-btn {
        margin-top: 35px;
    }
}
.individual {
    background-color: #F2F2F2;
    padding: 95px 0 234px;
    &__block {
        max-width: 570px;
    }
    &__img {
        margin-top: 49px;
        position: relative;
        max-width: 570px;
        margin-right: 14px;
        margin-left: auto;
        z-index: 1;
        transition: 0.5s;
        img {
            transition: 0.5s;
            transform: scale(0.95);
            width: 100%;
            box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
        }
        &:before {
            content: "";
            position: absolute;
            right: -120px;
            bottom: -44%;
            width: 143%;
            height: 50%;
            background-color: $color-red;
            z-index: -1;
            transition: 0.5s ease-out;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -22%;
            left: 89px;
            background: url('../img/indiv-img-bg.svg') no-repeat;
            width: 58%;
            background-size: 100%;
            height: 50%;
            z-index: -1;
            transition: 0.5s ease-out;
        }
        &.anim {
            &:before {
                height: 207%;
            }
            &:after {
                height: 146%;
                transition: 0.5s;
                transition-delay: 0.3s;
            }
            img {
                transform: scale(1);
            }
        }
        &:hover {
            img {
                transform: scale(1.03);
            }
            &:before {
                transform: scale(0.95);
            }
            // .individual__dot-top {
            //     &:before {
            //         animation-fill-mode: initial;
            //         animation: none;
            //         transition-delay: none;
            //         opacity: 1;
            //     }
            // }
            // .individual__dot-bottom {
            //     &:before, &:after {
            //         animation-fill-mode: initial;
            //         animation: none;
            //         transition-delay: none;
            //         opacity: 1;
            //     }
            // }
        }
    }
    &__dot-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:before {
            opacity: 0;
            content: "";
            position: absolute;
            border-radius: 50%;
            top: -117px;
            left: -24px;
            height: 43px;
            border-left: 22px solid #545454;
            border-right: 22px solid #e8e8e8;
            transition: 0.5s;
        }
        &.anim {
            &:before {
                opacity: 1;
                transition-delay: 0.5s;
                transition: 0.5s;
                animation: animRotate 1s linear;
                animation-fill-mode: forwards;
            }
        }
    }
    &__dot-bottom{
        position: absolute;
        bottom: -77px;
        right: 40px;
        
        &:before {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 42px;
            height: 0;
            border-top: 22px solid #545454;
            border-bottom: 22px solid #c4c4c4;          
        }
        &:after {
            content: "";
            position: absolute;
            top: 12px;
            left: 11px;
            width: 20px;
            height: 10px;
            border-radius: 50%;
            border-top: 10px solid #e8e8e8;
            opacity: 0;
        }
        &.anim {
            &:before, &:after {
                animation: animRotate 1.5s linear;
                animation-fill-mode: forwards;
                opacity: 1;
            }
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%) ;
        left: -52%;
        width: 75px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        transition: 0.5s;
        .line {
            width: 15px;
            background: $color-red;
            transition: 0.5s;
            transition-delay: 1s;
            height: 0;
            &-one {
                top: 50%;
            }
            &-two {
                top: 0;
            }
            &-three {

                top: 0;
            }
        }
        &:hover {
            animation: animScale2 0.5s linear infinite;
        }
        &.anim {
            .line {
                &-one {
                    height: 50%;
                }
                &-two {
                    height: 100%;
                }
                &-three {
                    height: 50%;
                }
            }
        }

    }
}
.industrial {
    background-color: #F2F2F2;
    padding: 100px 0 138px;
    &__block {
        margin-top: 50px;
        max-width: 588px;
    }
    &__img {
        position: relative;
        max-width: 546px;
        margin-left: 10%;
        z-index: 1;
        transition: 0.5s;
        img {
            transition: 0.5s;
            transform: scale(0.95);
            width: 100%;
            box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
        }
        &:before {
            content: "";
            position: absolute;
            right: -60%;
            bottom: -20%;
            width: 128%;
            height: 50%;
            background-color: $color-yellow;
            z-index: -1;
            transition: 0.5s;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -329px;
            background: url('../img/indust-img-bg.svg') no-repeat;
            width: 100%;
            height: 555px;
            z-index: -1;
        }
        &:hover {
            transform: scale(1.03);
            &:before {
                transform: scale(0.95);
            }
            // .industrial__dot-top.anim {
            //     &:before {
            //         opacity: 1;
            //         animation-delay: 0;
            //         animation: none;  
            //         animation-fill-mode: none;
            //     }
            //     &:after {
            //         opacity: 1;
            //         animation-delay: 0;
            //         animation: none;
            //         animation-fill-mode: forwards;
            //     }
            // }
            // .industrial__dot-bottom.anim {
            //     animation-delay: 0;
            //     animation: none;
            //     animation-fill-mode: forwards;

            // }
        }
        &.anim {
            &:before {
                height: 149%;
            }
            &:after {
                top: 111px;
                transition: 1s;
                transition-delay: 0.5s;
            }
            img {
                transform: scale(1);
            }
        }
    }
    &__dot-top {
        position: absolute;
        top: -10%;
        right: -40%;
        // background: url('../img/icons/indust-dot-top.svg') no-repeat;
        width: 43px;
        height: 22px;
        &:before {
            content: "";
            position: absolute;
            left: -61px;
            top: -25px;
            border-radius: 50%;
            width: 57px;
            height: 0;
            border-top: 29px solid #f2f2f2;
            border-bottom: 29px solid transparent;   
            opacity: 0;      
        }
        &:after {
            content: "";
            position: absolute;
            top: -10px;
            left: -46px;
            width: 28px;
            height: 0;
            border-radius: 50%;
            border-top: 14px solid #c4c4c4;
            border-bottom: 14px solid #c4c4c4;
            opacity: 0;
        }
        &.anim {
            &:before {
                animation-delay: 1s;
                animation: animRotate 1s linear;  
                animation-fill-mode: forwards;
                opacity: 1;
            }
            &:after {
                animation-delay: 1s;
                animation: animRotate 1.5s linear;
                animation-fill-mode: forwards;
                opacity: 1;
            }
        }
    }
    &__dot-bottom{
        position: absolute;
        bottom: -7%;
        right: -41%;
        background: url('../img/icons/indust-dot-bottom.svg') no-repeat;
        width: 90px;
        height: 90px;
        &.anim {
            animation: animRotate 0.5s linear;

        }
        
    }
    &__icon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%) ;
        left: -34%;
        width: 90px;
        height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .line {
            top: auto;
            left: 0;
            height: 15px;
            background: $color-yellow;
            width: 0;
            transition: 0.5s;
            transition-delay: 1s;
        }
        &.anim {
            .line {
                &-one {
                    width: 100%;
                }
                &-two {
                    width: 70px;
                }
                &-three {
                    width: 70px;

                }   
            }
        }

    }
}
.financial {
    padding: 100px 0 170px;
    position: relative;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-blue;
        z-index: -2;
    }
    &:before{
        content: "";
        position: absolute;
        top: 110px;
        width: 62%;
        height: 100%;
        right: 0;
        background: #f2f2f2;
        z-index: -1;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        max-width: 531px;
        margin-right: 9%;
        margin-top: 15%;
    }
    &__img {
        position: relative;
        max-width: 723px;
        margin-left: auto;
        margin-top: 120px;
        z-index: 1;
        transition: 0.5s;
        img {
            transition: 0.5s;
            transform: scale(0.95);
            width: 100%;
            box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
        }
        &:before {
            content: "";
            position: absolute;
            top: -50px;
            left: 89px;
            background: url('../img/fin-img-bg.svg') no-repeat;
            width: 327px;
            height: 98px;
            z-index: -1;
            transition: 0.5s
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -50px;
            left: 0;
            background: url('../img/fin-img-bg.svg') no-repeat;
            width: 327px;
            height: 98px;
            z-index: -1;
            transition: 0.5s
        }
        &:hover {
            transform: scale(1.03);
            &:before {
                transform: scale(0.9);
            }
            &:after {
                transform: scale(0.9);
            } 
            // .financial__dot-top {
            //     &:before {
            //         animation-fill-mode: initial;
            //         animation: none;
            //         transition-delay: none;
            //         opacity: 1;
            //     }
            // }
            // .financial__dot-bottom {
            //     &:before, &:after {
            //         animation-fill-mode: initial;
            //         animation: none;
            //         transition-delay: none;
            //         opacity: 1;
            //     }
            // }
        }
        &.anim {
            img {
                transform: scale(1);
            }
            &:before {
                top: -118px;
            }
            &:after {
                bottom: -118px;
            }
        }
    }
    &__dot-top {
        position: absolute;
        top: -6%;
        right: 32%;
        &:before {
            content: "";
            position: absolute;
            right: 50px;
            top: -60px;
            border-radius: 50%;
            width: 42px;
            height: 0;
            border-top: 22px solid #f2f2f2;
            border-bottom: 22px solid transparent;
            transform: rotate(90deg);
            opacity: 0;
        }
        &:after {
            content: "";
            position: absolute;
            right: 49px;
            top: -60px;
            border-radius: 50%;
            width: 42px;
            height: 0;
            border-top: 22px solid #c4c4c4;
            border-bottom: 22px solid transparent;
            opacity: 0;
        }
        &.anim {
            &:before {
                animation: animRotate2 1s linear;  
                animation-fill-mode: forwards;
                opacity: 1;
            }
            &:after {
                animation: animRotateBack 1s linear;
                animation-fill-mode: forwards;
                opacity: 1;
            }

        }
    }
    &__dot-bottom{
        position: absolute;
        bottom: -10%;
        left: 51%;
        &:before {
            content: "";
            position: absolute;
            right: 19px;
            top: 11px;
            border-radius: 50%;
            width: 0;
            height: 35px;
            border-left: 17px solid #f2f2f2;
            border-right: 17px solid transparent;
            opacity: 0;
            transition: 0.5s;
        }
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 50%;
            width: 0;
            height: 59px;
            border-right: 30px solid #c4c4c4;
            border-left: 30px solid transparent;
            opacity: 0;
            transition: 0.5s;
        }
        &.anim {
            &:before {
                opacity: 1;
                animation: animRotate 1s linear;  
                animation-fill-mode: forwards;
            }
            &:after {
                opacity: 1;
                animation: animRotateBack 1s linear;
                animation-fill-mode: forwards;
            }

        }
    }
    &__icon {
        position: absolute;
        bottom: -24%;
        right: 9%;
        width: 75px;
        height: 90px;
        display: flex;
        justify-content: space-between;
        animation: animScale1 1.5s linear;
        .line {
            width: 15px;
            background: $color-blue;
            height: 0;
            transition: 0.5s;
            transition-delay: 1s;
            &-one {
                top: 25px;
            }
            &-two {
                top: 0;
            }
            &-three {
                top: 25px;
            }
        }
        &.anim {
            .line {
                &-one {
                    height: 40px;
                }
                &-two {
                    height: 100%;
                }
                &-three {
                    height: 40px;
                }  
            }
        }

    }

}
