.footer {
    padding: 79px 56px 59px;
    background: #131313;
    color: #ffffff;
    margin-top: 0;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1812px;
    }
    &__left {
        display: flex;
        align-items: center;
        .logo {
            margin-right: 20px;
        }
    }
    .contacts__tel {
        color: #FCFCFC;
        font-size: 14px;
        line-height: 2.14;
        font-weight: 700;
        &:hover {
            opacity: 0.5;
        }
    }
    &__develop {
        display: flex;
        align-items: center;
        color: #c4c4c4;
        font-size: 12px;
        line-height: 30px;
        
        &-name {
            font-weight: 700;
            margin-left: 10px;
            color: #ffffff;
        }
    }
    &--tel {
        padding-left: 19%;
    }
    .social {
        // padding-right: 17%;
        position: relative;
        top: -2px;
    }
}
.rights {
    font-size: 12px;
    line-height: 2.5;
    color: #C4C4C4;
}
.social {
    display: flex;
    &__item {
        display: block;
        padding: 19px 17px 7px;
        &:hover {
            opacity: 0.5;
        }
    }
    svg {
        fill: #FCFCFC;
        transition: 0.3s;
    }

}