.footer {
    padding: 94px 56px 68px;
    background: #131313;
    color: #ffffff;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        align-items: center;
        .logo {
            margin-right: 20px;
        }
    }
    .contacts__tel {
        color: #FCFCFC;
        font-size: 14px;
        line-height: 2.14;
        font-weight: 700;
        &:hover {
            &:after {
                border-color: #fcfcfc;
            }
        }
    }
    &__develop {
        display: flex;
        align-items: center;
        color: #c4c4c4;
        font-size: 12px;
        line-height: 30px;
        
        &-name {
            margin-left: 10px;
            color: #ffffff;
        }
    }
}
.rights {
    font-size: 12px;
    line-height: 2.5;
    color: #C4C4C4;
}
.social {
    display: flex;
    &__item {
        display: block;
        padding: 20px 33px;
        &:hover svg {
            fill: $color-yellow;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    svg {
        fill: #FCFCFC;
        transition: 0.3s;
    }

}