.service {
    background: #e5e5e5;

    .h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        /* or 136% */
        color: #545454;
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 25px;
    }
    &__about {
        display: flex;
        padding-top: 173px;
        padding-bottom: 60px;
        &-right {
            width: 89%;
            position: relative;
            padding: 86px 88px 206px 104px;
            background-color: $color-red;
            h3 {
                color: #fff;
            }
            p {
                color: #fff;
                width: 60%;
            }
            .individual__icon, .industrial__icon, .financial__icon {
                left: auto;
                right: -15%;
                transform: none;
                top: 11%;
            }
        }
        &-left {
            max-width: 95%;
            padding: 42px 5% 20px 14%;
        }
        &-img {
                position: absolute;
                top: 40%;
                right: -18%;
                width: 52%;
                height: 70%;  
                z-index: 1; 
                &.anim:before {
                    left: -110%;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -50%;
                    background: url(../img/fin-img-bg.svg) no-repeat;
                    width: 327px;
                    height: 98px;
                    z-index: -1;
                    transition: .5s;
                }     
                img {
                    width: 100%;
                    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
                }    
        }
    }
    &__part {
        width: 50%;
    }
    &__body {
        position: relative;
        padding-bottom: 50px;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
            background: #F2F2F2;
            z-index: -1;
        }
        .wrap {
            display: flex;
            justify-content: space-between;            
        }
        &-left {
            padding-left: 7%;
        }
        &-right {
            position: relative;
            padding-top: 88px;
            padding-left: 87px;
            &:after {
                content: "";
                position: absolute;
                bottom: 25%;
                left: 36%;
                background: url('../img/dots-grey.svg') no-repeat;
                width: 58%;
                background-size: 100%;
                height: 50%;
                z-index: -1;
                transition: 0.5s ease-out;
            }
            img {
                max-width: 100%;
                transition: 0.5s;
                transform: scale(0.95);
                box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
                &:hover {
                    transform: scale(1.05);
                }
            }
            &.anim {
                &:after {
                    bottom: 4%;
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
                img {
                    transform: scale(1);
                
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
    &__item {
        margin: 119px 0;
        max-width: 657px;
    }
    &__logo {
        width: 62px;
        height: 62px;
        margin-bottom: 37px;
    }
    &__info {
        padding: 160px 0 66px;
        .wrap {
            display: flex;        }
        &-item {
            padding-left: 7%;
            padding-right: 5%;
            margin-right: auto;
        }
        
    }
    &__clients {
        overflow: hidden;
        h2 {
            padding-left: 7%;
        }
        &-items {
            display: flex;
            flex-wrap: wrap;
            
        }
    }
    .services__reviews {
        padding-top: 176px;
        overflow: hidden;
        h2:before {
            background-color: #fff;
        }
    }
    .industrial__dot-top {
        
        &:after {
            border-color: #C4C4C4;
        }
    }
}
.client {
    width: 25%;
    height: calc(100vw / 4);
    position: relative;
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: 0.5s;
    background: #fff;
    border: 1px solid #E8E8E8;
    &__logo {
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: 56%;
        background-position: center center;
    }
    &__name p {
        opacity: 0;
        margin-top: auto;
        margin-bottom: 0;
        padding: 30px;
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        color: #fff;
        background: #EB5A58;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    &:hover {
        background: #F55D5B;
        border-color: transparent;
        transform: scale(1.05);
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
        z-index: 1;
        .client__logo {
            background-position: center center;
        }
        .client__name p {
            opacity: 1;
        }
    }
}
// for different color
.service {
    &--red {
        .service__about {
            &-right {
                background-color: $color-red;
                .industrial__icon, .financial__icon {
                    display: none;
                }
            }
        }
        .client {
            &__name p {
                background: #EB5A58;
            }
            &:hover {
                background: $color-red;
            }
        }
        .services__reviews .industrial__dot-top:before {
            border-top-color: $color-red;
        }
        svg {
            fill: $color-red;
        }
    }
    &--yellow {
        .service__about {
            &-right {
                background-color: $color-yellow;
                .individual__icon, .financial__icon {
                    display: none;
                }
            }
        }
        .client {
            &__name p {
                background: rgb(231, 193, 0);
            }
            &:hover {
                background: $color-yellow;
            }
        }
        .services__reviews .industrial__dot-top:before {
            border-top-color: $color-yellow;
        }
        svg {
            fill: $color-yellow;
        }
    }

    &--blue {
        .service__about {
            &-right {
                background-color: $color-blue;
                .individual__icon, .industrial__icon {
                    display: none;
                }
            }
        }
        .client {
            &__name p {
                background: rgb(11, 113, 165);
            }
            &:hover {
                background: $color-blue;
            }
        }
        .services__reviews .industrial__dot-top:before {
            border-top-color: $color-blue;
        }
        svg {
            fill: $color-blue;
        }
    }
}