// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$accent: #088CCE;
$text: #545454;

$color-blue: #088CCE;
$color-yellow: #FFD500;
$color-red: #F55D5B;

$rubik: "Rubik", Arial, Helvetica, sans-serif;
$montserrat: "Montserrat", Arial, Helvetica, sans-serif;