
@import "tools/_normalize.scss";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.67;
	letter-spacing: 1px;
	font-family: $montserrat;
	font-weight: 400;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.wrap {
	max-width: 1650px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: $text;
	-webkit-transition: all.6s ease; 
	-moz-transition: all.6s ease;
	-ms-transition: all.6s ease; 
	-o-transition: all.6s ease; 
	transition: all.6s ease;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		-webkit-transition: all.1s ease; 
		-moz-transition: all.1s ease;
		-ms-transition: all.1s ease; 
		-o-transition: all.1s ease; 
		transition: all.1s ease;
	};
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.primary-text {
	font-size: 18px;
	line-height: 30px
}
.subtitle {
	font-size: 20px;
	line-height: 30px;
	color: #000;
}
.title {
	font-weight: 700;
	font-size: 48px;
	line-height: 100px;
	color: #131313;
}
.mark-btn {
	font-family: $rubik;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	padding: 18px;
	transition: 0.5s;
	cursor: pointer;
	background: transparent;
	border: 1px solid #222222;
	min-width: 209px;
	text-align: center;
	span {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 8px;
			height: 8px;
			top: 50%;
			right: -15px;
			transform: translate(0, -50%) rotate(45deg);
			border-right: 2px solid #3e4653;
			border-top: 2px solid #3e4653;
			transition: 0.5s;
		}
	}

	&:hover {
		 &:after {

		}
	}
}

@import "sections/header"; 
@import "sections/about"; 
@import "sections/directions"; 
@import "sections/contacts"; 

@import "sections/footer"; 

@import "media"; // Always at the end
