section.about#about
    .wrap
        .about__body
            h2.about__title 
                span iMark 
                | агентство маркетинга
                .about__arrows
                    .arrow.arrow--blue(data-anim="aboutanim")
                    .arrow.arrow--red(data-anim="aboutanim")
                    .arrow.arrow--yellow(data-anim="aboutanim")
            .about__text iMark, marketing agency — единственное в Украине специализированное агентство  маркетинга. Агентство создано осенью 2013 года. Его создали практики страхового рынка: решили стать теми самыми подрядчиками, которых так не хватало им самим.
        .about__chart
            .about__img
                img(src="img/chart.svg", alt="chart")