section.contacts#contacts
    .wrap
        .contacts__body
            .contacts__info(data-anim="contactanim")
                h2.title Наши контакты
                .contacts__adress Киев, ул. Саксаганского, д. 120, коворкинг BiblioТech 
                .contacts__tel-wrap 
                    a(href="tel:+380442746540").contacts__tel +38 (044) 274 65 40 
                    a(href="tel:+380663255301").contacts__tel +38 (066) 325 53 01 
                .contacts__mail
                    a(href="mailto:office@imark.com.ua") office@imark.com.ua
            .contacts__img
                .contacts__img--left(style="background-image: url('img/contact-note.jpg')")
                .contacts__img--right
                    .contacts__img--top(style="background-image: url('img/contact-mon.jpg')")
                    .contacts__img--bottom(style="background-image: url('img/contact-cap.jpg')")
        .contacts__map#map
           
