section.directions
    .directions__item.individual
        .wrap
            .directions__block
                .individual__img
                    img(src="img/indiv-bg.jpg", alt="individual")
                    .individual__dot-top
                    .individual__dot-bottom
                    .individual__icon
                        .line.line-one
                        .line.line-two
                        .line.line-three
            .directions__block.individual__block
                h2.title Individual
                .primary-text 
                    p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение. 
                    p Поэтому главный фокус наших исследований – мотивы, потребности и поведение страхователей. Не менее важно понимать действия конкурентов, партнеров и общие тенденции рынка. Мы предлагаем исследования по всем этим направлениям.
                a(href="#").mark-btn 
                    span Подробнее
    .directions__item.industrial
        .wrap
            .directions__block.industrial__block
                h2.title Industrial
                .primary-text 
                    p В информационных системах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации. 
                    p Качественная аналитика позволит выявить скрытые резервы в работе с продуктами, каналами продаж и клиентской базой. Опираясь на реальные данные, намного проще организовать эффективную маркетинговую кампанию, и, конечно же, спрогнозировать и получить рост премий по ее результатам.
                a(href="#").mark-btn 
                    span Подробнее
            .directions__block
                .industrial__img
                    img(src="img/indust-bg.jpg", alt="industrial")
                    .industrial__dot-top
                    .industrial__dot-bottom
                    .industrial__icon
                        .line.line-one
                        .line.line-two
                        .line.line-three
    .directions__item.financial
        .wrap
            .directions__block
                .financial__img
                    img(src="img/fin-bg.jpg", alt="financial")
                    .financial__dot-top
                    .financial__dot-bottom
                    .financial__icon
                        .line.line-one
                        .line.line-two
                        .line.line-three
            .directions__block.financial__block
                h2.title Financial
                .primary-text 
                    p Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель. Это инструмент, который помогает разработать эффективные механики и форматы коммуникации с потребителем. 
                    p Для разных каналов продаж - собственной сети, банков-партнеров или нефинансовых посредников. Мы постараемся, чтобы все, кто продвигает Ваш страховой продукт, говорили о нем красиво, просто и убедительно.
                a(href="#").mark-btn 
                    span Подробнее 