header
	nav
		.logo
			.logo__icon
				img(src="img/logo.png", alt="logo")
		.nav
			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				nav.main-menu 
					ul
						li
							a(href="#") Направления
						li
							a(href="#") Наша команда
						li
							a(href="#") Контакты
			.lang
				.lang__current ru
				ul.lang__wrap
					li.lang__item ru
					li.lang__item en
					


	.header			
		.wrap
			h1 
				| Мы даем возможность 
				span выдающимся основателям 
				| из всех слоев общества
			.lines
				.line.line-one
				.line.line-two
				.line.line-three
		ul.nav-dots
			li.nav-dots__item.nav-dots__item--current
			li.nav-dots__item
			li.nav-dots__item
			li.nav-dots__item
			li.nav-dots__item.nav-dots__item--current
			li.nav-dots__item
		a(href="#").scroll скролл