.header			
	.wrap
		h1(data-anim="headeranim")
			| Мы даем возможность 
			span выдающимся основателям 
			| из всех слоев общества
		.lines
			.line.line-one
			.line.line-two
			.line.line-three
	ul.nav-dots
		li
			a(href="#main").nav-dots__item(data-div="#main")
		li
			a(href="#about").nav-dots__item(data-div="#about")
		li
			a(href="#individual").nav-dots__item(data-div="#individual")
		li
			a(href="#industrial").nav-dots__item(data-div="#industrial")
		li
			a(href="#financial").nav-dots__item(data-div="#financial")
		li
			a(href="#contacts").nav-dots__item(data-div="#contacts")
	a(href="#about").scroll(data-div="#about") скролл