.header			
	.wrap
		h1(data-anim="headeranim")
			| Мы даем возможность 
			span выдающимся основателям 
			| из всех слоев общества
		.lines
			.line.line-one
			.line.line-two
			.line.line-three
	ul.nav-dots
		li
			a(href="#main", data-div="#main").nav-dots__item
		li
			a(href="#about", data-div="#about").nav-dots__item
		li
			a(href="#individual", data-div="#individual").nav-dots__item
		li
			a(href="#industrial", data-div="#industrial").nav-dots__item
		li
			a(href="#financial", data-div="#financial").nav-dots__item
		li
			a(href="#contacts", data-div="#contacts").nav-dots__item
	//- a(href="#about").scroll(data-div="#about") скролл