section.service.service--red
    .wrap
        .service__about
            .service__part
                .service__about-left
                    .title Financial
                    .subtitle Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель.
                    .primary-text Для разных каналов продаж - собственной сети, банков-партнеров или нефинансовых посредников. Мы постараемся, чтобы все, кто продвигает Ваш страховой продукт, говорили о нем красиво, просто и убедительно.
                    .primary-text Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель. Это инструмент, который помогает разработать эффективные механики и форматы коммуникации с потребителем.
            .service__part
                .service__about-right
                    .subtitle В информационных системах страховщиков много полезной и практичной, ожалению неочевидной информации
                    .primary-text Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.
                    .service__about-img(data-anim="directionanim2")
                        img(src="img/fin1.jpg", alt="fin")
                    .individual__icon(data-anim="directionanim3")
                        .line.line-one
                        .line.line-two
                        .line.line-three
                    .industrial__icon(data-anim="directionanim3")
                        .line.line-one
                        .line.line-two
                        .line.line-three
                    .financial__icon(data-anim="directionanim3")
                        .line.line-one
                        .line.line-two
                        .line.line-three
       
    .service__body
        .wrap
            .service__part.service__body-left
                .service__item
                    .service__logo 
                        img(src="img/icons/pie.svg", alt="pie")
                    .subtitle Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель. 
                    .primary-text Для разных каналов продаж - собственной сети, банков-партнеров или нефинансовых посредников. Мы постараемся, чтобы все, кто продвигает Ваш страховой продукт, говорили о нем красиво, просто и убедительно.
                .service__item
                    .service__logo
                        img(src="img/icons/target.svg", alt="target")
                    .subtitle В информационных системах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации. 
                    .primary-text Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.
            .service__part.service__body-right(data-anim="directionanim4")
                img(src="img/fin2.jpg", alt="target")
    .service__info  
        .wrap   
            .service__part.service__info-item
                .subtitle В информационных системах много полезной и практичной, но к сожалению
                .primary-text Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение. Психологи утверждают, что 95% успеха в отношениях зависят от желания.
            .service__part.service__info-item
                .subtitle Поэтому главный фокус наших мотивы, потребности и поведение страхователей.
                .primary-text Не менее важно понимать действия конкурентов, партнеров и общие тенденции рынка. Мы предлагаем исследования по всем этим направлениям. Cистемах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации.
    .service__clients
        .wrap
            .title Наши клиенты
        .service__clients-items
            .service__client.client
                .client__logo(style="background-image: url('img/clients/ukrainian-food.png')")
                .client__name Ukrainian-food
            .service__client.client
                .client__logo(style="background-image: url('img/clients/ukrplit.png')")
                .client__name УкрПлит
            .service__client.client
                .client__logo(style="background-image: url('img/clients/ukraine.png')")
                .client__name Ukraine
            .service__client.client
                .client__logo(style="background-image: url('img/clients/ukrinvest.png')")
                .client__name Украинские инвестиции
            .service__client.client
                .client__logo(style="background-image: url('img/clients/lviv.png')")
                .client__name Львiвське
            .service__client.client
                .client__logo(style="background-image: url('img/clients/bilanochka.png')")
                .client__name Бiляночка
            .service__client.client
                .client__logo(style="background-image: url('img/clients/twu.png')")
                .client__name Trade width Ukraine
            .service__client.client
                .client__logo(style="background-image: url('img/clients/uman.png')")
                .client__name Умань

    .services__reviews
        .wrap
            .title Отзывы
            .industrial__dot-top(data-anim="directionanim5")
            .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review1.jpg')")
                        .services__review-body
                            .primary-text Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                            .services__review-name Александр Васильев
                        .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review2.jpg')")
                        .services__review-body
                            .primary-text Качественная аналитика позволит выявить скрытые резервы в работе с продуктами, каналами продаж и клиентской базой.
                            .services__review-name Дмитрий Васильев
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review2.jpg')")
                        .services__review-body
                            .primary-text Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                            .services__review-name Александр Васильев
                        .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review1.jpg')")
                        .services__review-body
                            .primary-text Качественная аналитика позволит выявить скрытые резервы в работе с продуктами, каналами продаж и клиентской базой.
                            .services__review-name Дмитрий Васильев