section.service.service--red
    .wrap
        .service__about
            .service__part
                .service__about-left
                    h2 Financial
                    h3 Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель.
                    p Для разных каналов продаж - собственной сети, банков-партнеров или нефинансовых посредников. Мы постараемся, чтобы все, кто продвигает Ваш страховой продукт, говорили о нем красиво, просто и убедительно.
                    p Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель. Это инструмент, который помогает разработать эффективные механики и форматы коммуникации с потребителем.
            .service__part
                .service__about-right
                    h3 В информационных системах страховщиков много полезной и практичной, ожалению неочевидной информации
                    p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.
                    .service__about-img(data-anim="directionanim2")
                        img(src="img/fin1.jpg", alt="fin")
                    .individual__icon(data-anim="directionanim3")
                        .line.line-one
                        .line.line-two
                        .line.line-three
                    .industrial__icon(data-anim="directionanim3")
                        .line.line-one
                        .line.line-two
                        .line.line-three
                    .financial__icon(data-anim="directionanim3")
                        .line.line-one
                        .line.line-two
                        .line.line-three
       
    .service__body
        .wrap
            .service__part.service__body-left
                .service__item
                    .service__logo 
                        svg(xmlns='http://www.w3.org/2000/svg' width='60' height='61' viewbox='0 0 60 61' fill='none')
                            path(d='M56 31H59.8758L60 30.8667C60 29.5867 59.9006 28.28 59.7267 27L56 31Z' )
                            path(d='M46.4237 7L33 20.6866V25L49 8.68664C48.1593 8.05069 47.2915 7.4977 46.4237 7Z' )
                            path(d='M40.0513 4L33 11.0186V15L43 5.0464C42.0513 4.61253 41.0513 4.28074 40.0513 4Z' )
                            path(d='M36 3.3481C35.0204 3.12658 34.0408 3 33.0408 3L33 3.06329V8L36 3.3481Z' )
                            path(d='M42.5391 31L57 16.728C56.4763 15.8091 55.8943 14.8902 55.2251 14L38 31H42.5391Z' )
                            path(d='M53 12.1667C52.6817 11.8056 52.3634 11.4444 52.0186 11.0833C51.6737 10.7222 51.3024 10.3611 50.931 10L33 28.8056V31H35.0159L53 12.1667Z' )
                            path(d='M51.9376 31L59 23.9262C58.7206 22.9338 58.3649 21.9669 57.9838 21L48 31H51.9376Z')
                            path(d='M29.5 7C14.8703 7 3 19.0943 3 34C3 48.9057 14.8703 61 29.5 61C44.1297 61 56 48.9057 56 34H29.5V7Z')

                    h3 Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель. 
                    p Для разных каналов продаж - собственной сети, банков-партнеров или нефинансовых посредников. Мы постараемся, чтобы все, кто продвигает Ваш страховой продукт, говорили о нем красиво, просто и убедительно.
                .service__item
                    .service__logo
                        svg(xmlns='http://www.w3.org/2000/svg' width='61' height='61' viewbox='0 0 61 61' fill='none')
                            g(clip-path='url(#clip0)')
                                path(d='M27.561 60.9321C42.7054 60.9321 54.9823 48.8124 54.9823 33.8618C54.9823 29.2617 53.8236 24.9333 51.7753 21.1419C51.5513 21.1735 51.3209 21.1861 51.0968 21.1861C50.9688 21.1861 50.8344 21.1798 50.7001 21.1735L47.2116 20.9081L44.7024 23.3851C46.6163 26.4308 47.7237 30.02 47.7237 33.8618C47.7237 44.8505 38.6985 53.7601 27.5674 53.7601C16.4364 53.7601 7.40472 44.8505 7.40472 33.8618C7.40472 22.8733 16.4299 13.9636 27.561 13.9636C31.4591 13.9636 35.0948 15.0568 38.1735 16.9461L40.4458 14.7029L40.1386 10.7536C40.113 10.4376 40.1193 10.1217 40.1513 9.81207C36.3813 7.8848 32.0992 6.79163 27.5546 6.79163C12.4166 6.79163 0.139771 18.9113 0.139771 33.8618C0.139771 48.8124 12.4166 60.9321 27.561 60.9321Z')
                                path(d='M27.5613 26.8668C27.7406 26.8668 27.9198 26.8732 28.099 26.8858L33.1621 21.8875L33.2708 21.7801C31.5362 20.9776 29.6032 20.5289 27.5613 20.5289C20.1043 20.5289 14.0619 26.494 14.0619 33.8555C14.0619 41.2171 20.1043 47.1885 27.5613 47.1885C35.0182 47.1885 41.0607 41.2234 41.0607 33.8619C41.0607 31.8461 40.6061 29.9379 39.7933 28.2254L39.6845 28.3328L34.6213 33.331C34.6342 33.508 34.6406 33.685 34.6406 33.8618C34.6406 37.7227 31.4722 40.8569 27.5549 40.8569C23.6375 40.8569 20.4755 37.7226 20.4755 33.8618C20.4756 30.001 23.6504 26.8668 27.5613 26.8668Z')
                                path(d='M55.8206 9.72356L57.4464 8.11855C58.1889 7.38555 58.1889 6.20392 57.4464 5.47092L56.3198 4.35247C55.9486 3.98597 55.4622 3.80272 54.9821 3.80272C54.5021 3.80272 54.0091 3.98597 53.6443 4.35247L51.7817 6.19128L51.3977 1.29411C51.3721 0.933931 51.0711 0.712769 50.7576 0.712769C50.5975 0.712769 50.4375 0.769639 50.3095 0.896017L42.9806 8.13119C42.3212 8.78204 41.9819 9.68564 42.0524 10.6082L42.0716 10.8926L42.4236 15.4232L39.7737 18.0393L35.005 22.7469L34.8963 22.8543L30.2813 27.4103L28.233 29.4324C27.9642 29.6977 27.7978 30.0516 27.7722 30.4244L27.6441 32.0105C27.5673 32.933 28.3098 33.7166 29.2379 33.7166C29.2635 33.7166 29.2892 33.7166 29.3212 33.7166L31.0174 33.6344C31.4142 33.6154 31.7919 33.4511 32.0671 33.173L34.0962 31.17L38.7112 26.614L38.8201 26.5066L43.5887 21.799L46.4691 18.9555L50.6551 19.2715L50.8407 19.2841C50.924 19.2904 51.0071 19.2904 51.084 19.2904C51.9289 19.2904 52.7418 18.9618 53.3499 18.3678L60.6724 11.139C61.0565 10.7599 60.8133 10.1027 60.2692 10.0648L55.8206 9.72356Z')
                    h3 В информационных системах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации. 
                    p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.
            .service__part.service__body-right(data-anim="directionanim4")
                img(src="img/fin2.jpg", alt="target")
    .service__info  
        .wrap   
            .service__part.service__info-item
                h3 В информационных системах много полезной и практичной, но к сожалению
                p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение. Психологи утверждают, что 95% успеха в отношениях зависят от желания.
            .service__part.service__info-item
                h3 Поэтому главный фокус наших мотивы, потребности и поведение страхователей.
                p Не менее важно понимать действия конкурентов, партнеров и общие тенденции рынка. Мы предлагаем исследования по всем этим направлениям. Cистемах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации.
    .service__clients
        .wrap
            h2 Наши клиенты
        .service__clients-items
            .service__client.client
                .client__logo(style="background-image: url('img/clients/ukrainian-food.png')")
                .client__name 
                    p Ukrainian-food
            .service__client.client
                .client__logo(style="background-image: url('img/clients/ukrplit.png')")
                .client__name 
                    p УкрПлит
            .service__client.client
                .client__logo(style="background-image: url('img/clients/ukraine.png')")
                .client__name
                    p Ukraine
            .service__client.client
                .client__logo(style="background-image: url('img/clients/ukrinvest.png')")
                .client__name
                    p Украинские инвестиции
            .service__client.client
                .client__logo(style="background-image: url('img/clients/lviv.png')")
                .client__name
                    p Львiвське
            .service__client.client
                .client__logo(style="background-image: url('img/clients/bilanochka.png')")
                .client__name
                    p Бiляночка
            .service__client.client
                .client__logo(style="background-image: url('img/clients/twu.png')")
                .client__name
                    p Trade width Ukraine
            .service__client.client
                .client__logo(style="background-image: url('img/clients/uman.png')")
                .client__name
                    p Умань

    .services__reviews
        .wrap
            h2 Отзывы
            .industrial__dot-top(data-anim="directionanim5")
            .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review1.jpg')")
                        .services__review-body
                            p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                            .services__review-name
                                p Александр Васильев
                        .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review2.jpg')")
                        .services__review-body
                            p Качественная аналитика позволит выявить скрытые резервы в работе с продуктами, каналами продаж и клиентской базой.
                            .services__review-name
                                p Дмитрий Васильев
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review2.jpg')")
                        .services__review-body
                            p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                            .services__review-name
                                P Александр Васильев
                        .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review1.jpg')")
                        .services__review-body
                            p Качественная аналитика позволит выявить скрытые резервы в работе с продуктами, каналами продаж и клиентской базой.
                            .services__review-name
                                p Дмитрий Васильев