section.service.service--red
     .wrap
        .service__about
            .title Financial
            .subtitle Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель.
            .primary-text Для разных каналов продаж - собственной сети, банков-партнеров или нефинансовых посредников. Мы постараемся, чтобы все, кто продвигает Ваш страховой продукт, говорили о нем красиво, просто и убедительно.
            .primary-text Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель. Это инструмент, который помогает разработать эффективные механики и форматы коммуникации с потребителем.
       


    .service__body
        .service__item
            .service__logo 
            .subtitle Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель. 
            .primary-text Для разных каналов продаж - собственной сети, банков-партнеров или нефинансовых посредников. Мы постараемся, чтобы все, кто продвигает Ваш страховой продукт, говорили о нем красиво, просто и убедительно.
        .service__item
            .service__logo 
            .subtitle В информационных системах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации. 
            .primary-text Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.
    .service__info    
    .service__clients
    .services__reviews
        .wrap
            .title Отзывы
            .industrial__dot-top(data-anim="directionanim5")
            .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review1.jpg')")
                        .services__review-body
                            .primary-text Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                            .services__review-name Александр Васильев
                        .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review2.jpg')")
                        .services__review-body
                            .primary-text Качественная аналитика позволит выявить скрытые резервы в работе с продуктами, каналами продаж и клиентской базой.
                            .services__review-name Дмитрий Васильев
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review2.jpg')")
                        .services__review-body
                            .primary-text Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                            .services__review-name Александр Васильев
                        .services__reviews-slider
                .services__review-wrap
                    .services__review
                        .services__review-foto(style="background-image: url('img/reviews/review1.jpg')")
                        .services__review-body
                            .primary-text Качественная аналитика позволит выявить скрытые резервы в работе с продуктами, каналами продаж и клиентской базой.
                            .services__review-name Дмитрий Васильев