section.team
    .team__body
        .our__team
            .wrap
                .team__block.team__block__text
                    h2 Наша команда
                    h3 Для нас, как и для наших Клиентов, аналитика и исследования – не самоцель.
                    p Для разных каналов продаж - собственной сети, банков-партнеров или нефинансовых посредников. Мы постараемся, чтобы все, кто продвигает Ваш страховой продукт, говорили о нем красиво, просто и убедительно.
                    p В информационных системах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации.

                .team__block
                    .team__img(data-anim="directionanim1")
                        img(src="img/team/our-team.jpg", alt="our-team")
                        .team__block__dot(data-anim="directionanim1")

        .team__item.type1
            .team__item__icon__red(data-anim="directionanim3")
                .line.line-one
                .line.line-two
                .line.line-three
            .wrap
                .team__item__img(data-anim="directionanim2")
                    img(src="img/team/svetlana-vinohodova.jpg", alt="svetlana-vinohodova")
                .team__item__wrap
                    .team__item__text
                        h2 Светлана Виноходова
                        h3 Идейный вдохновитель и руководитель агентства
                        p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                        .mark-btn(data-anim="directionanimbtn2")
                            a(href="#") Подробнее

                        .team__columns
                            .team__columns__item
                                h3 В информационных системах много полезной и практичной, но к сожалению
                                p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.  Психологи утверждают, что 95% успеха в отношениях зависят от желания.
                .team__item__block-bg
                    .team__item__icon__yellow(data-anim="directionanim2")
                        .line.line-one
                        .line.line-two
                        .line.line-three


        .team__item.type2
            .wrap
                .team__item__icon__yellow(data-anim="directionanim3")
                    .line.line-one
                    .line.line-two
                    .line.line-three
                .team__item__dot-top.anim(data-anim="directionanim3")
                .team__item__dot-bottom.anim(data-anim="directionanim3")
                .team__item__img(data-anim="directionanim3")
                    img(src="img/team/pavel-rozovik.jpg", alt="pavel-rozovik")
                .team__item__wrap
                    .team__item__text
                        h2 
                            | Павел
                            br
                            | Розовик
                        h3 Руководитель исследовательских проектов в В2В: для рынков-драйверов страхования и сектора корпоративного страхования
                        p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                        .mark-btn(data-anim="directionanimbtn3")
                            a(href="#") Подробнее
                        .team__columns
                            .team__columns__dot-left.anim(data-anim="directionanim3")
                            .team__columns__item
                                h3 В информационных системах много полезной и практичной, но к сожалению
                                p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.  Психологи утверждают, что 95% успеха в отношениях зависят от желания.


        .team__item.type3
            .wrap
                .team__item__img(data-anim="directionanim4")
                    img(src="img/team/ekaterina-yavorskaya.jpg", alt="ekaterina-yavorskaya")
                .team__item__wrap
                    .team__item__text
                        h2
                            | Екатерина
                            br
                            | Яворская
                        h3 Специалист по рыночным исследованиям и аналитике
                        p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.  Не менее важно понимать действия конкурентов, партнеров и общие тенденции рынка. Мы предлагаем исследования по всем этим направлениям. В информационных системах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации.
                        .mark-btn(data-anim="directionanimbtn4")
                            a(href="#") Подробнее
                .team__columns
                    .team__columns__dot-left.anim(data-anim="directionanim4")
                    .team__columns__item
                        h3 В информационных системах много полезной и практичной, но к сожалению
                        p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.  Психологи утверждают, что 95% успеха в отношениях зависят от желания.
                    .team__columns__item
                        h3 Поэтому главный фокус наших мотивы, потребности и поведение страхователей.
                        p Не менее важно понимать действия конкурентов, партнеров и общие тенденции рынка. Мы предлагаем исследования по всем этим направлениям. Cистемах страховщиков много полезной и практичной, но, к сожалению, неочевидной информации.

        .team__item.type4
            .wrap
                .team__item__wrap
                    .team__item__text
                        h2 Павел Цупко
                        h3 Менеджер маркетинговых проектов в В2С - включая все розничные виды рискового страхования
                        p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону.
                        .mark-btn(data-anim="directionanimbtn5")
                            a(href="#") Подробнее
                        .team__columns
                            .team__columns__item
                                h3 В информационных системах много полезной и практичной, но к сожалению
                                p Психологи утверждают, что 95% успеха в отношениях зависят от желания и умения понять другую сторону. Отношения страховщика и страхователя - не исключение.  Психологи утверждают, что 95% успеха в отношениях зависят от желания.
                .team__item__img(data-anim="directionanim5")
                    img(src="img/team/pavel-tzupko.jpg", alt="pavel-tzupko")
                .team__item__dot-top.anim(data-anim="directionanim5")
                .team__item__dot-bottom.anim(data-anim="directionanim5")
                .team__item__icon__blue(data-anim="directionanim5")
                    .line.line-one
                    .line.line-two
                    .line.line-three

